*{
  box-sizing: border-box;
   }
body {
  background-color: #D3FAD6;
  margin: 0px;
  padding: 0px;
}

main {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

h3 {
  color: #5e6472;
  font-family: 'Open Sans', sans-serif;
  background-color: #edeba0;
  width: 100%;
  border-bottom: 1px solid #d1efb5;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 0%;
  padding-top: 2%;
  padding-bottom: 2%;
}
fieldset {
  border: none;
}

button {
  margin-top: 5%;
  font-family: 'Open Sans', sans-serif;
  background-color: #d1efb5;
}

input {
  margin: 1%;
  color #d1efb5;
}

label {
  font-family: 'Open Sans', sans-serif;
}

span {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%;
}

.left {
  display: inline;
  border-right: 1px solid black;
  width: 50%;
  height: 100vh;
  float: left;
}

.right {
  display: inline;
  width: 50%;
  float: right;
  padding: 0;
}
.bottom {
  height: 50vh;
  border-top: 1px solid black;
}

.reset-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
}
